@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/utilities";

@import "base/general";
@import "base/typography";

@import "components/buttons";

@import "layout/footer";
@import "layout/header";
@import "layout/nav";
@import "layout/sections";

@import "pages/pricing";

@import 'queries/desktop';
@import 'queries/phone';


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  & h1 {
    font-size: 18px;
  }
}
