.plan {
  width: 80%;
  margin: 50px auto;

  &__ilustration {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    border-bottom: 2px solid #eee;
  }

  h1 {
    display: inline-block;
    color: $color-dark-grey;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 15px 0;
    position: relative;
  }

  p {
    width: 50%;
    text-align: center;
    margin: 50px auto;
    font-size: 18px;
  }
}

.pricing {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__card {
    text-align: center;

    & > div {
      padding: 20px 0;
    }

    &--first {
      height: 100%;
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 60px;
    }

    &--second {
      background-color: $color-green;
      color: $color-white;
    }

    &--third {
      background-color: $color-yellow;
      color: $color-white;
    }

    &--fourth {
      background-color: $color-dark-yellow;
      color: $color-white;
    }

    h2 {
      margin: 0;
      font-weight: 300;
      color: $color-yellow;
    }

    h3 {
      text-transform: uppercase;
      font-size: 21px;
    }

    p {
      margin: 0;
      padding: 5px;
      font-size: 21px;
    }

    &--cross {
      color: #474648;
      text-decoration: line-through;
    }

    &--price {
      font-size: 45px !important;
      font-weight: 700;
    }
  }
}

.table {
  padding: 0 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__column {
    box-sizing: border-box;
    width: 100%;
    & > div {
      padding: 20px 10px;
      border: 1px solid #eee;
    }

    img {
      width: 14px;
    }
  }
}

.pricing-mob {
  display: none;
  width: 80%;
  margin: auto;
  text-align: center;

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card {
    margin: 50px 0;

    h3 {
      font-size: 17px;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      margin: 0;
      padding: 10px 0;
    }
  }

  &__column {
    &--item {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid #777;
    }
  }

  &--cross {
    color: #474648;
    text-decoration: line-through;
  }

  &--price {
    font-size: 36px !important;
    font-weight: 700;
    padding: 0 !important;
  }
}

.how-works {
  margin: 100px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 70% 30%;

  &__description {
    h1 {
      font-size: 27px;
    }

    p {
      font-size: 18px;
      text-align: justify;
      line-height: 1.7;
    }
  }

  &__play {
    display: block;
    margin: auto;
  }
}
