.footer {
  padding: 30px 50px;
  box-sizing: border-box;
  background-color: $color-blue;
  width: 100%;
  height: 250px;
  color: $color-white;
  display: grid;
  grid-template-columns: 15% 15% 25% 25% 20%;
  grid-template-rows: 90% 10%;

  h3 {
    margin: 0;
    font-size: 16px;
  }
  p {
    margin: 10px 0;
    font-size: 14px;
  }

  &__icons {
    display: block;
    margin: 0 0 auto auto;
    padding-right: 50px;
    img {
      width: 30px;
      height: 30px;
    }
  }

  &__copy {
    grid-column: 1 / -1;
    padding: 20px 0;
    font-size: 14px;

    & > a {
      padding-right: 50px;
    }

    &--rights {
      float: right;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }

  &--location {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  &__property {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    width: 80%;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
      padding-bottom: 20px;
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}
