.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url("../img/hero1.jpeg");
  background-size: cover;
  background-position: center;

  &__header {
    color: $color-white;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    position: absolute;

    h1 {
      font-size: 48px;
      font-weight: 300;
      text-align: center;

      span {
        display: block;
      }
    }
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;

    & > * {
      margin-right: 5px;
    }

    &--text {
      box-sizing: border-box;
      color: $color-gray;
      width: 440px;
      height: 60px;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 15px;
    }

    &--select {
      box-sizing: border-box;
      width: 220px;
      height: 60px;
      color: $color-gray;
      background-color: $color-white;
      border: none;
      outline: none;
      padding: 15px;
      // text-indent: 15px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  &__rectangle {
    width: 50%;
    height: 90px;
    margin: 100px auto 0;
    background-color: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $color-white;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &--phone {
    display: none;
  }
}
