.nav {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--blue {
    background-color: $color-blue;
    height: 70px;
  }

  &--user {
    margin: 0 30px 0 60px;
  }

  &--language {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 20px;
    }
  }

  &--arrow {
    width: 12px;
  }

  &--login {
    height: 20px;
    display: flex;
    align-items: center;
    padding-right: 50px;

    img {
      height: 14px;
      padding-top: 5px;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    width: 100%;

    a {
      text-decoration: none;
      color: $color-white;
      font-size: 16px;
      display: inline-block;
      position: relative;
    }
  }

  &--main {
    margin-right: 10px;
    a {
      margin-right: 10px;
      @include underline;
    }
  }

  &--right {
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  &--center {
    justify-content: center;
    align-items: center;
    width: 25%;
  }

  &--left {
    justify-content: flex-start;
    align-items: center;
    width: 50%;

    a {
      margin-right: 30px;
    }
  }
}

.sidenav {
  display: none;
  background-color: $color-blue;
  .sidenav__phone {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $color-blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    & a {
      padding: 20px 0;
      text-decoration: none;
      width: 70%;
      font-size: 20px;
      display: block;
      color: $color-white;
      transition: 0.3s;
    }
  }

  &--close {
    position: absolute;
    right: 35px;
    top: 25px;
    padding: 0 !important;
    margin: 0;
  }
}

#close {
  font-size: 30px;
  float: right;
}
