.about {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(24, 37, 69, 0.9),
      rgba(24, 37, 69, 0.9)
    ),
    url("../img/about-us.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;

  &__content {
    width: 60%;
    margin: auto;

    h1 {
      font-size: 38px;
      font-weight: 100;

      span {
        display: block;
      }
    }

    p {
      font-size: 22px;
      font-weight: 100;
    }
  }
}

.building {
  display: block !important;
  margin: 80px 0;
  &__rectangle {
    margin: 0 auto;
    width: 80%;
    height: 250px;
    background-color: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $color-white;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 35px auto;

    &--text {
      width: 80%;

      h1 {
        font-size: 36px;
      }

      p {
        font-size: 18px;
        line-height: 1.7;
      }
    }

    &--photo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        display: block;
      }
    }
  }

  &--phone {
    display: none;
  }
}
