.btn {
  color: $color-white;
  font-size: 18px;
  width: 290px;
  height: 60px;
  position: relative;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &--green {
    background-color: $color-green;
    &:hover {
      background-image: linear-gradient(
        to right,
        #25aae1,
        #40e495,
        #30dd8a,
        #2bb673
      );
    }
  }

  &--blue {
    background-color: $color-blue;
    &:hover {
      background-image: linear-gradient(
        to right,
        $color-blue,
        $color-blue,
        #080f72,
        #1256d4
      );
    }
  }

  &--nav {
    background-color: transparent;
    border: 1px solid $color-green;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    text-align: center;

    &:hover {
      background-color: $color-green;
    }
  }

  &--header {
    width: 180px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }

  &--ghost {
    background-color: transparent;
    border: 2px solid $color-green;
    width: 170px;
    font-size: 16px;
    height: 40px;

    &:hover {
      background-color: $color-green;
    }
  }

  &--works {
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 16px;
    background: transparent;
    color: $color-gray;
    border: 1px solid $color-gray;
    text-align: left;

    &:hover {
      box-shadow: 2px 2px 15px #777;
    }

    img {
      margin: 0 20px;
      display: inline;
    }

    p {
      margin: 0;
    }
  }

  &--price {
    width: 270px;
    height: 60px;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: $color-white;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px 0;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

// .switch

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid $color-green;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-green;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
