@media (min-width: 1500px) {
  .hero {
    &__header {
      color: $color-white;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}

@media (max-width: 1300px) {
  .pricing,
  .table {
    display: none;
  }

  .pricing-mob {
    display: block;
    width: 70%;
  }
}
