@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .sidenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 10px 30px;
  }

  .hero {
    box-sizing: border-box;

    &__header {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__form {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 16px;

      &--text {
        margin: auto;
        width: 80%;
      }

      &--select {
        width: 80%;
        margin: 10px auto;
      }
    }

    &__rectangle {
      width: 80%;
    }
  }
  .how-works {
    width: 70%;
    display: block;
    margin: 50px auto;

    &__description {
      h1 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        text-align: left;
      }
    }
  }

  .btn {
    &--works {
      display: flex;
      margin: 40px auto;
    }

    &--header {
      width: 80%;
      margin: 0 auto;
      display: flex !important;
    }
  }
}

@media (max-width: 768px) {
  .pricing,
  .table {
    display: none;
  }

  .btn {
    margin: 30px auto;
    display: block;

    &--ghost {
      margin-left: 0;
    }

    &--footer {
      margin: 0;
    }

    &--header {
      width: 80%;
      margin: 0 auto;
    }

    &--works {
      display: flex;
    }
  }

  .hero {
    box-sizing: border-box;

    &__header {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%);

      h1 {
        font-size: 21px;
        margin-bottom: 50px;
      }
    }

    &__rectangle {
      // width: 300px;
      margin: 50px auto 0;
    }

    &--desktop {
      display: none;
    }

    &--phone {
      display: inline-block;
    }
  }

  .about {
    height: 80vh;
    &__content {
      width: 80%;
      margin: auto;

      h1 {
        font-size: 18px;
        font-weight: 100;

        span {
          display: block;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 100;
      }
    }
  }

  .building {
    // &__rectangle {}

    &__grid {
      display: block;
      width: 80%;
      margin: 35px auto;

      &--text {
        width: 100%;

        h1 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }

      &--photo {
        margin-top: 50px;
      }
    }

    &--phone {
      display: inline-block;
    }

    &--desktop {
      display: none;
    }
  }

  .how-works {
    width: 80%;
  }

  .footer {
    width: 100%;
    padding: 30px 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;

    ul {
      padding: 0 30px;
    }

    &__about {
      order: 1;
    }

    &__contact {
      order: 2;
    }

    &__address {
      order: 5;
      padding: 30px 30px 20px;
      border-bottom: 1px solid $color-gray;
    }

    &__icons {
      display: block;
      margin: 0;
      padding: 20px 30px;
      order: 4;
      border-bottom: 1px solid $color-gray;
    }

    &__property {
      margin-top: 0;
      padding: 0 0 0 30px;
      text-align: left;
      width: 80%;
      order: 3;
      p {
        display: none;
      }
    }

    &__copy {
      grid-column: 1 / -1;
      padding: 0;
      font-size: 14px;
      order: 6;

      &--policy {
        padding: 20px 30px 10px;
        display: block;
      }

      &--terms {
        border-bottom: 1px solid $color-gray;
        padding: 10px 30px 20px;
        display: block;
      }

      &--rights {
        float: none;
        display: block;
        padding: 20px 30px 0;
      }
    }
  }

  .plan {
    &__ilustration {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 21px;
      }

      img {
        width: 90%;
      }
    }

    p {
      width: 90%;
      font-size: 14px;
      margin: 15px auto 50px;
    }
  }

  .pricing-mob {
    width: 80%;
  }
}


@media (max-width: 420px) {
  .hero {
    box-sizing: border-box;

    &__header {
      top: 70%;
      left: 50%;
      transform: translate(-50%, -70%);

      h1 {
        font-size: 21px;
        margin-bottom: 50px;
      }
    }}
}