@mixin underline {
  &:after {
  content: "";
  display: block;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  position: absolute;
  background: $color-green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;

}

  &:hover:after {
      width: 100%;
      left: 0;
  }
}

