.heart--number {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin: 0 10px 0 5px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.padding-mob {
  padding: 30px 0;
}

.margin-minus {
  margin: 0 auto !important;
}

.green {
  background-color: $color-green;
  margin: auto;
  color: $color-white;
  border: 1px solid transparent;

  &:hover {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
  }
}

.yellow {
  color: $color-white;
  margin: auto;
  background-color: $color-yellow;

  &:hover {
    background-image: linear-gradient(
      to right,
      $color-yellow,
      $color-yellow,
      #f3cb47,
      #eff876
    );
  }
}

.dark-yellow {
  color: $color-white;
  margin: auto;
  background-color: $color-dark-yellow;

  &:hover {
    background-image: linear-gradient(
      to right,
      #f7c53b,
      #f5c162,
      #eeae38,
      #f7d566
    );
  }
}

.invisible {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  visibility: hidden;
  margin: 0;
}

.green-c {
  color: $color-green;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.yellow-c {
  font-size: 36px;
  color: $color-yellow;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.dark-yellow-c {
  font-size: 36px;
  color: $color-dark-yellow;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.save {
  margin: 0;
  color: $color-yellow;
  text-align: left;
  font-size: 14px;
}

.info {
  margin-left: -15px;
}

.pin {
  right: 20px;
  position: absolute;
}
